body,html{height:100%;padding:0px;margin:0px; background-image:url(../img/f_ho.png)}
.suelo{background-image: url(../img/luna_ho.png);height:10%;width:100%;position:fixed;bottom:0px;}

#astro{
	position:absolute;
	bottom:10%;
	left:1%;

}

#instrucciones {
	margin:auto;
	width:30%;
	float:left;
	margin-left:10%;
	margin-top:5%;
	margin-bottom:25%;
	border-color:black;
	border: 1px solid yellow;
	padding-top:2%;
	padding-right: 3%;
	padding-left:3%;
	padding-bottom:2%;
	background:rgba(200,210,100,0.50);
}
#about {
	margin:auto;
	display:inline-block;
	float:left;
	width:30%;
	margin-top:10%;
	margin-bottom:25%;
	border-color:black;
	border: 1px solid yellow;
	padding-top:5%;
	padding-right: 5%;
	padding-left:5%;
	padding-bottom:5%;
	background:rgba(200,210,100,0.50);
}
h1{
	color:white;
}
p{
	color:white;
	font-size: 18px;

}