body,html{height:100%;padding:0px;margin:0px; background-image:url(../img/f_ho.png)}

.a,.b,.c{display:inline-block;width:33.33%;height:100%;float:left;}
.d{background-image: url(../img/luna_ho.png);height:10%;width:100%;position:fixed;bottom:0px;}

.nave{
	height: 15%;
	width:100%;
}

#cohete{
	margin: auto;
	margin-top:10%;
	display: block;
	height:100%;
    width: 80%
}

#astro{
	position:absolute;
	bottom:10%;
	left:5%;
}

#menu{
	position:absolute;
	margin-top:5%;
	right:0px;
}
#fuego{
	margin:auto;
	display: none;
}

.menuPausa{
	background: rgba(255,0,255, 0.3);
}


h1{
	text-align: center;
	color:orange;
    font-size: 80px;
   background: rgba(0,255,255, 0.3);

}
ul {
    list-style-type: none;
    margin: auto;
    padding: 0;
    width: 100%;
    position:relative;
    background: rgba(0,255,255, 0.3);
    border: 1px solid #555;
}

li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
    font-size: 50px;
}

li {
    text-align: center;
    border-bottom: 1px solid #555;
}

li:last-child {
    border-bottom: none;
}


li a:hover {
    background-color: #555;
    color: white;
}


.dropdown, .dropIdiomas, .dropPantalla{
    display:none;
    position:inline-block;
}
.opt:hover .dropdown{
    display:inline-block;
}

.idioma:hover .dropIdiomas{
    display:inline-block;

}
.pantalla:hover .dropPantalla{
    display:inline-block;
}